{% extends 'base.html.twig' %}

{% block title %}Hello MusicController!{% endblock %}

{% block body %}
    <ul>
        {% for music in musicList %}
            <li>{{ music.name }}</li>
        {% endfor %}
    </ul>        
{% endblock %}
